<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="https://stagingnaxeva.online/themes/default/images/login-img.png" alt="" srcset="">
      </ion-col>
      <ion-col>
        <ion-text color="dark">
          <h3>Registrate para iniciar sesion</h3>
          
        </ion-text>
        <ion-item>
          <ion-input  class="custom" placeholder="Nombre de usuario"></ion-input>
        </ion-item>
        <ion-item>         
          <ion-input class="custom" placeholder="Contraseña" type="password" value="password"></ion-input>
        </ion-item>
        <ion-button expand="block" color="medium" size="large">Iniciar Sesion</ion-button>
        <ion-button fill="outline"class="custombtn" color="dark" size="small">Registrarse</ion-button> <br>
        <ion-text color="tertiary">
          <a>¿Olvidaste tus datos?</a>
        </ion-text>
      </ion-col>
      
    </ion-row>
  </ion-grid>
  
</ion-content>
